<div class="container">
  <header>
    <h1>Eat-Da-Burger!</h1>
  </header>
  <div class="burgersToEat">
    <h2 class="colTitle">Burgers ready to eat!</h2>

    <ul>
      {{#each burger}}
      {{#unless eaten}}
      {{> burger/burger-block eaten=true}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class="burgersEaten">
    <h2 class="colTitle">In My Belly!</h2>

    <ul>
      {{#each burger}}
      {{#if eaten}}
      {{> burger/burger-block eaten=false}}
      {{/if}}
      {{/each}}
    </ul>
  </div>

  <div class="newBurger">
  <h2 class="colTitle">New Hamburgers</h2>
  <form class="create-form">

    <div class="form-group">
      <input type="text" id="ca" name="burger">
          <button type="submit">Add burger</button>

    </div>

    </div>
  </form>
</div>