.container {
  background-image: url("../images/burgerWallpaper.jpg");
  background-size: 100% 100%;
  max-width: 1400px;
  width: 95%;
  height: 800px;
  margin: 0 auto;
  position: relative
}


body{
  color: #db9f76;
  font-size: 26px;
}


header {
  font-size: 90px;
  font-weight: 600;
  margin: 3%  8%;
  width: 100%;  
  position: absolute;
}

.burgersToEat{
  position: absolute;
  margin: 13% 8%;
}
.burgersEaten {
  position: absolute;
  margin: 13% 72%;
  width: 340px;
}

.colTitle {
  padding: 10px;
  border-bottom: 1px solid #db9f76;
  font-size: 50px;
  font-weight: 600;
}
.newBurger {
  position: absolute;
  margin: 40% 8%;

}
ul {
  margin: 20px 20px;
}

#ca {
  width: 60%;
  margin: 30px 0 0 0;
  padding: 8px 0;
  border-radius: 16px;
  border: 1px solid #db9f76;
}

button {
  padding: 8px;
  border: 1px solid #db9f76;
  border-radius: 16px;
  margin: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  
}
.burgerName {
  margin: 5px;
}
